/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los mensajes de error */
p.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Estilos para los botones */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la tabla de productos */
h2 {
    font-size: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Estilos para los enlaces de acciones */
table td a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Estilos para el botón de guardar producto */
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los radio buttons */
input[type="radio"] {
    margin-right: 5px;
}
